@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./font.css";
@font-face {
  font-family: "Agrandir";
  src: local("Agrandir-WideBold"),
    url("./Fonts/Agrandir-WideBold.ttf") format("truetype");
}

.back {
  background-image: url("./Frame\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  width: 100%;
  height: 100%;
}
.back2 {
  background-image: url("./Assets/InvestPage/Layer\ 2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: white;
  padding: 4px;
}
